<div class="page-header one {{backgroundClass}}">
	<section>
		<div class="container">			
 				<div class="toggle-btn"></div>
 				<strong> DevSpace! </strong> <span>| Debapriya Das |</span>
				<a href="http://in.linkedin.com/in/nihav" target="_blank" class="icon icon-linkedin"></a><!-- <a href="https://www.youtube.com/channel/UCcyjDhimmxXyJ5lUQrPeO5g/videos" target="_blank" class="icon icon-youtube"> --></a><a href="https://github.com/yodebu" target="_blank" class="icon icon-github"></a><a href="https://plus.google.com/+NihavJain" target="_blank" class="icon icon-googleplus"></a>
		</div>
	</section>
</div>
